@charset "iso-8859-1";

<!--

body{
    margin:0;	
    padding:0;
    color: #000;
    font-family: 'Lucida Grande', helvetica, arial, verdana, sans-serif;
    backgound-color:#F0F0F0;
}

.more{
    cursor: default;
    color: black;
    text-decoration:none;
    font-style: normal;
}
table.sortable {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    vertical-align: top;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
table.sortable th, table.sortable td {
    //border: 1px solid #AAAAFF;
    text-align: left;
    vertical-align: top;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.trtable:hover {background-color: #EEF0FF}
// table.sortable tr:nth-child(even) {background-color: #FBFBFB}
table.sortable th {
    background-color: #000000;
    color: white;
}
table.sortable thead {
    cursor: default;
}
.trtablehighlight{
    background-color: #CCDDCC;
}
.trtable{
}
.maintable{
}
tr.trextrainfos{
}
.extrainfos{
    display: none;
    text-align:justify;
    font-weight: normal;
    font-size: 75%;
    color: #002841;
}
.author{
    font-size: 75%;
    font-weight: bold;
}
.title{
    font-weight: bold;
    font-size: 75%;
    font-style: italic;
}
.year{
    font-size: 100%;
}
.journal{
    font-size: 75%;
}
.id{
    font-size: 75%;
}
.timestamp{
    font-size: 75%;
}
.type{
    font-size: 75%;
}
.links{
    font-size: 75%;
}
.getlink{
    font-size: 75%;
}
.getbibtexentry{
    font-size: 75%;
}
.link:link{
    text-decoration:none;
    color: #002841;
}
.link:visited{
    text-decoration:none;
    color: #002841;
}
.link:hover{
    text-decoration: underline;
    color: #004128;
}
.link:active{
    text-decoration:none;
    color: #002841;
}



#options {
    position: fixed;
    left: 0;
    top: 85%;
    width: 100%;
    margin: -0.5em 0 0 0;
    z-index: 5;
    background: #002841;
    color: white;
    font-weight: bold;
    font-size: small;
    text-align: left;
    border: solid hsla(80, 90%, 40%, 0.3);
    border-left: none;
    padding: 0.2em 0.5em 0.2em 0.1em;
    box-shadow: 0 1px 3px black;
    border-radius: 0em 0em 0em 0em;
    opacity: 0.95;
    background-color: rgba(0, 0, 0, 0.85);
}
/* Make menu absolute, not fixed, on IE 5 & 6 */
#options { position: absolute }
*>#options { position: fixed }

.cells {
color:white;
font-size:80%;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
hr.style-five { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
hr.style-six { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); 
}

hr.flare {
    height: 50px;
    border-style: ridge;
    border-color: #900;
    border-width: 2px 0 0 0;
    border-radius: 45px;
}
hr.flare:before {
    display: block;
    content: "";
    height: 50px;
    margin-top: -51px;
    border-style: ridge;
    border-color: #900;
    border-width: 0 0 2px 0;
    border-radius: 45px;
}

hr.hrgray0 {
    border: 1px solid #CCCCCC;
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

hr.hrgray1 {
    border: 1px solid #EEEEEE;
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }


.block {
color:white;
background-color:#002841;
background: linear-gradient(90deg, #001020, #002841, #001020);
}


#menudeux {
    position: fixed;
    left: 0;
    top: 80%;
    width: 100;
    margin: -0.5em 0 0 0;
    z-index: 4;
    background: hsla(250, 80%, 94%, 0.23);
    color: white;
    font-weight: bold;
    font-size: small;
    text-align: left;
    border: solid hsla(80, 90%, 40%, 0.3);
    border-left: none;
    padding: 0.2em 0.5em 0.2em 0.1em;
    box-shadow: 0 1px 3px black;
    border-radius: 0em 3em 3em 0em;
}

/* Make menu absolute, not fixed, on IE 5 & 6 */
#menudeux { position: absolute }
*>#menudeux { position: fixed }


.boutonmenu {
    border-style: none;
    border-color: gray;
background:#EEFFFF;
color:#002841;
background: hsla(250, 80%, 94%, 0.00)
}

.boutonmenu:hover {
    border-style: none;
    border-color: gray;
    background:#002841;
    color:white;
}

-->
